body{
  background:  #FF0000 ;
}
body p{
  font-size: 22px;
  text-align: center;
}
.carousel-item {
  height: 65vh;
  min-height: 400px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 20px;
}
